{% extends "base.html" %}

{% block content %}
<div id="content">
<div class="row-fluid">
  <div class="span2">
<a href="https://github.com/ben-yu"><img style="position: absolute; top: 2.525em; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
  </div>
  <div class="span5">
    <div class="page-header">
      <h1>
        Hi There!
      </h1>
    </div>
    <img height="210px" class="well" src="https://secure.gravatar.com/avatar/3c27eb7515de890c8e198bf5c443b40c?s=210" alt="" weight="210px" >
    </br></br>
    <p>
            I'm Benjamin Yu, a software developer from Toronto. I'm interested in machine learning, big data, and just building/hacking things.
            My resume can be found <a href="https://dl.dropboxusercontent.com/u/7208218/benjamin_cv.pdf">here</a>.
            </br></br>
            Email: <img src="static/img/portfolio/email.png">
    </p>
</div>

{% endblock %}
