{% extends "base.html" %}

{% block content %}
<div id="content">
<div class="row-fluid">
  <div class="span2">
<a href="https://github.com/ben-yu"><img style="position: absolute; top: 2.525em; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
  </div>
  <div class="span5">
    <div class="page-header">
      <h1>
        Hi There!
      </h1>
    </div>
    <img height="210px" class="well" src="https://secure.gravatar.com/avatar/3c27eb7515de890c8e198bf5c443b40c?s=210" alt="" weight="210px" >
    </br></br>
    <p>
            I'm Benjamin Yu, a 4th year Engineering Science student at UofT, majoring in Computer Engineering. I'm interested in machine learning, big data, and just building/hacking things.
            </br></br>
            Email: <img src="static/img/portfolio/email.png">
    </p>
    <div class="classysocial bubble" data-orientation="line" data-image-type="picture"  data-picture="/static/images/Button-Red.svg" data-gap="125" data-image-type="facebook" data-facebook-handle="benjamin.yu" data-google-handle="114642657257030423366" data-linkedin-handle="74131407" data-github-handle="ben-yu" data-twitter-handle="LeStealth" data-networks="github,facebook,twitter,linkedin,google">
                <a class="main" title="Find Me Here" alt="Find Me Here">
                  <img src="https://graph.facebook.com/benjamin.yu/picture?type=large" title="Find Me Here" alt="Find Me Here">
                </a>
                <div class="network_holder">
                  <a class="network_button github" target="_blank" href="https://www.github.com/ben-yu" data-network="github" style="display: block; left: 13px; top: 13px;">GitHub</a>
                  <a class="network_button facebook" target="_blank" href="http://www.facebook.com/benjamin.yu" data-network="facebook" style="display: block; left: 13px; top: 13px;">Facebook</a>
                  <a class="network_button twitter" target="_blank" href="https://twitter.com/LeStealth" data-network="twitter" style="display: block; left: 13px; top: 13px;">Twitter</a>
                  <a class="network_button linkedin" target="_blank" href="http://www.linkedin.com/profile/view?id=74131407" data-network="linkedin" style="display: block; left: 13px; top: 13px;">LinkedIn</a>
                  <a class="network_button google" target="_blank" href="https://plus.google.com/114642657257030423366" data-network="google" style="display: block; left: 13px; top: 13px;">Google Plus</a>
                </div>
</div>
</div>

{% endblock %}
