{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
	    <div class="span1"></div>
        <div class="span10">
            <header class="page-header" id="overview">
                <h1>Portfolio&nbsp;&nbsp;&nbsp;&nbsp;<small>Projects and stuff I'm working on</small></h1>
            </header>
            <div class="subnav">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#CarouselGroup">All Projects</a></li>
                    <li class=""><a href="#hearing">Hearing Diagnostic App</a></li>
                    <li class=""><a href="#battery">Battery Sorter</a></li>
                    <li class=""><a href="#ttc">TTC Signage Proposal</a></li>
                    <li class=""><a href="#bridge">Bridge Design</a></li>
                </ul>
            </div>
            <section id="CarouselGroup">
            <div class="row">
                <div class="span3"></div>
                <div id="myCarousel" class="carousel slide span6">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <img src="static/img/BSX_MODEL_BLUEPRINT_V1.0.png" alt=""height="350">
                            <div class="carousel-caption">
    	                	<h4>Battery Sorter Extreme (BSX)</h4>
	    	                <p>AER201 Project - Autonomous Batter Sorter and Charge Tester</p>
    	    	        </div>
        	    	</div>
	            	<div class="item">
    	            	<img src="static/img/esc_bridge.jpg" alt="" height="350">
	    	            <div class="carousel-caption">
    	    	            <h4>Bridge Design Project</h4>
        	    	        <p>Design a pedestrian bridge for crossing the highway</p>
            	    	</div>
					</div>
				</div> <!-- Carousel inner -->
	        	<!-- Carousel nav -->
		        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div> <!-- myCarousel -->
		</div> <!-- row -->
		</section>
		<section id="hearing">
	    	<div class="page-header">
    	    	<h1> Hearing Diagnostic App&nbsp;&nbsp;&nbsp;&nbsp;<small>An iOS play-based audiometric hearing diagnostic app</small></h1>
		    </div>
			<div class="row">
				<div class="span2"></div>
                <div class="span7">
                    <img class="well" src="/static/img/ios_stock.jpg"  height=300px alt="">
                    </br></br>
                    <p>I am currently working on an app that allows the user to play a game with acoustic ques which first diagnoses the hearing ability 
                    of the user and potentially enables the user to overcome their hearing issues by better adapting to the game. This project is
                    part of ongoing research at <a href="http://www.apl.utoronto.ca/">APL</a></p>
				</div>
			</div>
        </section>
        <section id="battery">
	    	<div class="page-header">
    	    	<h1> Battery Sorter&nbsp;&nbsp;&nbsp;&nbsp;<small>Fully-Autonomous Battery Sorter</small></h1>
		    </div>
			<div class="row">
				<div class="span1"></div>
                <div class="span10 columns">
                    <img src="/static/img/BSX_MODEL_CANVAS_V1.0.png" class="span8"  height=350px alt="">
                    <p class="span4">
                    – Designed a fully autonomous robot to sort batteries based on size and charge.</br></br>
                    – Fabricated essential circuitry including an H-Bridge motor driver, stepper motor driver, infrared sensors, and power supply</br></br>
                    – Produced full 3D mock-up of machine in Google SketchUp</br>
                    </p>
				</div>
			</div>
        </section>		
        <section id="ttc">
	    	<div class="page-header">
    	    	<h1> TTC Signage Proposal&nbsp;&nbsp;&nbsp;&nbsp;<small>Updating TTC signage to improve usability for visual/hearing impaired</small></h1>
		    </div>
			<div class="row">
				<div class="span1"></div>
                <div class="span10 columns">
                    <p class="span4">
                    - Identified signage problems in the TTC, and proposed improvements such as: strategic sign placement, improved color contrast, tactile feedback system on handrails & floor tiles, and consistent font selection</br></br>
                    - Produced scale mock-up of St. George Station with proposed signage changes</br></br>
                    - Created surveying program to evaluate our new system compared to current signage system</br></br>
                    </p>
                    <img src="/static/img/vincinitymap.bmp" class="span8" alt="">
				</div>
			</div>
        </section>		
        <section id="bridge">
	    	<div class="page-header">
    	    	<h1> Bridge Design&nbsp;&nbsp;&nbsp;&nbsp;<small> Designed a pedestrian bridge & a scaled mock-up cardboard bridge </small></h1>
		    </div>
			<div class="row">
				<div class="span1"></div>
                <div class="span10 columns">
                    <img src="/static/img/civ101_bridge.jpg" class="span8"  height=350px alt="">
                    <p class="span4">
                        - Collaborated with 3 team members to design and build a model railway bridge that would safely support the passage of a 400N train, while restricted to using one sheet of mat-board 32" x 40" x 0.05" and contact cement </br></br>
                        - Final bridge design withstood approximately 500N of force</br></br>
                        - Design accounted for axial and flexural stresses (compressive and tensile), shear stress, beam deflection, & plate buckling
                        - Wrote 12 page engineering design report explaining our design process, justifying our design decisions and provided grounds in the form of calculations and drawings</br></br>
                    </p>
				</div>
            </div>
		</section>
    </div> <!-- span 10 -->
	</div><!-- row-fluid -->
</div><!-- /container -->
{% endblock %}
