{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
  <div class="span2">
<a href="https://github.com/xpsmiley"><img style="position: absolute; top: 137px; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
  </div>
  <div class="span5">
    <div class="page-header">
      <h1>
        Hi There!
      </h1>
    </div>
    <img class="well" src="static/img/profile.jpg" alt="" height="150px">
    </br></br>
    <p>
            I'm Benjamin Yu, a 4th year Engineering Science student at UofT, majoring in Electrical & Computer Engineering. I'm interested in machine learing and its possible applications in the mobile app space. 
            </br></br>
            Email: <img src="static/img/email.png">
    </p>
    <div class="fb-like facebook" data-href="http://beyu-blog.appspot.com" data-layout="button_count" data-show-faces="false" data width="50"></div>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/benjamin-yu/20/9b0/153" data-format="hover" data-text="Benjamin Yu" data-related="false"></script>
</br></br>
<a href="http://steamcommunity.com/id/LeStealth"><img src="http://steamsignature.com/badge-76561198009919991.png"></a><a href='steam://friends/add/76561198009919991'><img src='http://steamsignature.com/AddFriend.png'></a>
  </div>
</div>

{% endblock %}
