<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
            <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="classysocial bubble" style="float:left" data-image-type="facebook"  data-picture="benjamin.yu" data-arc-start="10" data-arc-length="140" data-gap="25" data-image-type="facebook" data-facebook-handle="benjamin.yu" data-linkedin-handle="74131407" data-github-handle="ben-yu" data-twitter-handle="LeStealth" data-networks="github,facebook,twitter,linkedin">
            <a class="main" title="Find Me Here" alt="Find Me Here">
              <img src="https://graph.facebook.com/benjamin.yu/picture?type=large" title="Find Me Here" alt="Find Me Here">
            </a>
            <div class="network_holder">
              <a class="network_button github" target="_blank" href="https://www.github.com/ben-yu" data-network="github" style="display: block; left: 13px; top: 13px;">GitHub</a>
              <a class="network_button facebook" target="_blank" href="http://www.facebook.com/benjamin.yu" data-network="facebook" style="display: block; left: 13px; top: 13px;">Facebook</a>
              <a class="network_button twitter" target="_blank" href="https://twitter.com/LeStealth" data-network="twitter" style="display: block; left: 13px; top: 13px;">Twitter</a>
              <a class="network_button linkedin" target="_blank" href="http://www.linkedin.com/profile/view?id=74131407" data-network="linkedin" style="display: block; left: 13px; top: 13px;">LinkedIn</a>
              <a class="network_button google" target="_blank" href="https://plus.google.com/114642657257030423366" data-network="google" style="display: block; left: 13px; top: 13px;">Google Plus</a>
            </div>
          </div>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li {% if target == 'main' %} class="active" {% endif %}><a href="/blog">Blog</a></li>
              <li {% if target == 'about' %} class="active" {% endif %}><a href="/">Portfolio</a></li>
              <li {% if target == 'contact' %} class="active" {% endif %}><a href="/about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          {% if target == 'main' %}
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" value="" placeholder="Search">
          </form>
          {% endif %}
        </div>
    </div>
</div>
